<!DOCTYPE html>
<html lang="en">

    <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

        <div class="logo">BWSHOP</div>
        
        <div class="search-box">
          <input class="search-textbox" type="text" name="" placeholder=" Buscar produtos e muito mais...">
          <a class="search-button" href="#">
              <i class="fas fa-search"></i>
          </a>
      </div>

        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <a href="" class="active">Home</a>
                </li>
                <li>
                    <a href="">Categorias</a>
                </li>
                <li>
                    <a href="">Contato</a>
                </li>
                <li>
                    <a href="">Suporte</a>
                </li>

                <div class="login">
                  <li><a routerLink="login"><i class="fas fa-sign-in-alt"></i> Login
                  </a></li> 
                </div>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
</html>